<section class="bg-primary">
			<div class="container">
				<h3 class="color-white font-weight-300">Идентификация</h3>
			</div>
		</section>

		<section class="padding-30">
			<div class="container text-center">
				<h2 class="font-weight-300">Электронной кошелек для любых задач</h2>
			</div>
		</section>
	
		<section class="overflow-hidden">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card card-list">
							<div class="card-img">
								<img src="<?=$data['Host']?>/theme/img/wallet.png" class="img-responsive" alt="">
								<span class="label label-danger" style="font-size:24px"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
							</div>
							<div class="caption">
								<h4 class="card-title"><a href="reviews-single.html">Анонимный</a></h4>
								<p>Анонимный статус присваивается сразу после открытия аккаунта на нашем сайте. Анонимный пользователь не может выводить более 15 000 RUB за один месяц и не может пополнять свой кошелек на сумму более 50 000 RUB за тот же период. Все пользователи системы видят статус Вашего счета.</p>
								<button onclick="location.href = 'members/signup.htm'" class="btn btn-primary btn-rounded">Открыть аккаунт</button>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-list">
							<div class="card-img">
								<img src="<?=$data['Host']?>/theme/img/wallet.png" class="img-responsive" alt="">
								<span class="label label-success" style="font-size:24px"><i class="fa fa-user" aria-hidden="true"></i></span>
							</div>
							<div class="caption">
								<h4 class="card-title"><a href="reviews-single.html">Идентифицированный</a></h4>
								<p>Если вы хотите снять все ограничения по аккаунту, вам необходимо выслать нам копию своего паспорта. Паспорт нужен, чтобы убедиться, что владелец кошелька — реальный человек с именем, фамилией и документами. Всё конфиденциально — ваши данные не уйдут за пределы нашей системы.</p>
								<button onclick="location.href = 'contact.htm'" class="btn btn-primary btn-rounded">Отправить документы</button>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-list">
							<div class="card-img">
								<img src="<?=$data['Host']?>/theme/img/wallet.png" class="img-responsive" alt="">
								<span class="label label-info" style="font-size:18px"><i class="fa fa-bank" aria-hidden="true"></i></span>
							</div>
							<div class="caption">
								<h4 class="card-title"><a href="reviews-single.html">Профессиональный</a></h4>
								<p>Нужен, если вы продаете товары или предоставляете услуги как компания.
Стать «профессионалом» может только идентифицированный пользователь, так что ограничений по способам получать и переводить деньги нет. Чтобы стать стать профессионалом отправьте нам документы на вашу деятельность.</p>
<button onclick="location.href = 'contact.htm'" class="btn btn-primary btn-rounded">Отправить документы</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>