<section class="bg-primary">
			<div class="container">
				<h3 class="color-white font-weight-300">Условия соглашения</h3>
			</div>
		</section>

<section class="bg-grey-50 padding-bottom-60">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-primary margin-bottom-20">
							Пример заголовка
						</h4>
						<p>
							Часть для контента. Вы можете изменить контент этой страницы через панель управления
						</p>
					</div>
				</div>
			</div>
		</section>