<section class="bg-primary">
			<div class="container">
				<h3 class="color-white font-weight-300">Валюта</h3>
			</div>
		</section>

<section class="bg-grey-50 padding-bottom-60">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-primary margin-bottom-20">
							Информация о внутреннем счета и валюте системы
						</h4>
						<p>
							<?=prntext($data['Currency'])?> – условная единица расчета, приобретаемая и обращаемая в электронном обороте, и представляющая собой электронный документ на предъявителя, удостоверяющий наличие у его владельца имущественных прав в объеме обязательств гаранта <?=prntext($data['Currency'])?> по погашению данных обязательств, стоимость которых имеет денежный эквивалент в количестве, равном номиналу <?=prntext($data['Currency'])?>. Количество (объем), номинальная стоимость и иные характеристики <?=prntext($data['Currency'])?> устанавливаются Администратором Системы. 
						</p>
					</div>
				</div>
			</div>
		</section>