<section class="bg-primary">
			<div class="container">
				<h3 class="color-white font-weight-300">Служба поддержки</h3>
			</div>
		</section>

		<section class="padding-30">
			<div class="container text-center">
				<h2 class="font-size-22 font-weight-300">Мы готовы помочь вам в любом вопросе ежедневно с 10:00 до 19:00 по МСК</h2>
			</div>
		</section>

		<section class="border-top-1 border-bottom-1 border-grey-400 section no-padding no-margin">
			<div id="map" class="height-400"></div>
		</section>
	
		<section class="overflow-hidden">
			<div class="container">
				<div class="row">
					<div class="col-md-3">

					</div>
					<div class="col-md-6">
						<div class="title">
							<h4><i class="fa fa-envelope"></i> Напишите нам!</h4>
							<p>Наши специалисты готовы ответить прямо сейчас.</p>
						</div>
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Тема сообщения" required>
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="7" placeholder="Сообщение"></textarea>
							</div>
							<div class="text-center margin-top-30">
								<button type="button" class="btn btn-primary btn-lg btn-rounded btn-shadow">Отправить</button>
							</div>
						</form>
					</div>
					<div class="col-md-3">

					</div>
				</div>
			</div>
		</section>